# Title

## Introduction

## Data Science Languages

- Python
- R
- SQL
- Julia
- Scala
- Java

## Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- Keras
- PyTorch
- ggplot2
- dplyr

## Data Science Tools

| Tool          | Description                                   |
|---------------|-----------------------------------------------|
| Jupyter       | Interactive computing environment            |
| RStudio       | Integrated development environment for R     |
| Apache Spark  | Unified analytics engine for big data        |
| Tableau       | Data visualization tool                      |
| TensorFlow    | Machine learning framework                   |

## Arithmetic Expression Examples

Below are some examples of basic arithmetic operations in Python.

In [2]:
# Multiplication and Addition
a = 5
b = 3
multiplication = a * b
addition = a + b
print("Multiplication:", multiplication)
print("Addition:", addition)

Multiplication: 15
Addition: 8

In [3]:
# Conversion from minutes to hours
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

## Objectives

- Understand different data science languages
- Learn about popular data science libraries
- Get familiar with various data science tools
- Practice basic arithmetic operations in Python
- Convert time units from minutes to hours

## Author

zixian he